In [34]:
import pandas as pd
import numpy as np

In [35]:
df = pd.read_csv("bank.csv")

In [36]:
print(f"Number of Rows: {df.shape[0]}\nNumber of Columns: {df.shape[1]}")

Number of Rows: 11162
Number of Columns: 17

In [37]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [38]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'deposit'],
      dtype='object')

In [39]:
for i in df.columns:
    print(i)

age
job
marital
education
default
balance
housing
loan
contact
day
month
duration
campaign
pdays
previous
poutcome
deposit

In [40]:
df["education"].unique()

array(['secondary', 'tertiary', 'primary', 'unknown'], dtype=object)

In [41]:
df['job'].unique()

array(['admin.', 'technician', 'services', 'management', 'retired',
       'blue-collar', 'unemployed', 'entrepreneur', 'housemaid',
       'unknown', 'self-employed', 'student'], dtype=object)

In [42]:
df.columns = df.columns.str.strip()

In [43]:
df.drop('campaign', axis=1, inplace=True)
df.drop('previous', axis=1, inplace=True)
df.drop('default', axis=1, inplace=True)

In [44]:
df.dtypes

age           int64
job          object
marital      object
education    object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
pdays         int64
poutcome     object
deposit      object
dtype: object

In [45]:
df_clean = pd.read_csv('bank.csv')

In [46]:
df.shape

(11162, 14)

In [47]:
df.isnull()

,age,job,marital,education,balance,housing,loan,contact,day,month,duration,pdays,poutcome,deposit
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11158,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11159,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11160,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11161,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [48]:
 df.isnull().sum()

age          0
job          0
marital      0
education    0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
pdays        0
poutcome     0
deposit      0
dtype: int64

In [49]:
print(df_clean.head())

   age         job  marital  education default  balance housing loan  contact  \
0   59      admin.  married  secondary      no     2343     yes   no  unknown
1   56      admin.  married  secondary      no       45      no   no  unknown
2   41  technician  married  secondary      no     1270     yes   no  unknown
3   55    services  married  secondary      no     2476     yes   no  unknown
4   54      admin.  married   tertiary      no      184      no   no  unknown

   day month  duration  campaign  pdays  previous poutcome deposit
0    5   may      1042         1     -1         0  unknown     yes
1    5   may      1467         1     -1         0  unknown     yes
2    5   may      1389         1     -1         0  unknown     yes
3    5   may       579         1     -1         0  unknown     yes
4    5   may       673         2     -1         0  unknown     yes

In [50]:
X = df_clean.drop(columns='deposit')
y = df_clean['deposit']

print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (11162, 16)
y shape: (11162,)

In [51]:

cat_columns = X.select_dtypes(['object']).columns


X[cat_columns] = X[cat_columns].apply(lambda col: pd.factorize(col)[0])